<header class="header bg-light">
    <div class="container py-5 d-flex justify-content-between align-items-center">
        <div class="d-flex">
            <h1 class="my-0 me-7">
                <a href="/index.html" class="text-decoration-none d-flex align-items-center">
                    <img src="../assets/images/logo.png" alt="7TAO" style="width: 53px;" class="me-4">
                    <div class="d-none d-lg-flex align-items-center">
                        <h2 class="lh-sm mb-0 me-1">7TAO</h2>
                        <p class="h6 mb-0">活動訂票網</p>
                    </div>
                </a>
            </h1>
        </div>
        <nav>
            <a href="index.html">index</a>
            <a href="about.html">about</a>
            <a href="contact.html">contact</a>
        </nav>
    </div>
</header>